body {
  box-sizing: border-box;
  --padding-base: 25px;

  height: 100vh;
}

#root {
  display: grid;
  place-items: center;
  height: 100%;
}

#wrapper {
  display: grid;
  grid-auto-columns: minmax(20px, auto);

  grid-template-areas:
    "title title"
    "break-label session-label"
    "break-buttons session-buttons"
    "session session"
    "controls controls";

  grid-gap: 7px;
  padding: var(--padding-base);
  width: 50vw;
  margin: 0 auto;
  justify-items: center;
  top: 50%;
}

#title {
  display: block;
  grid-area: title;
}

#break-label {
  display: inline-block;
  grid-area: break-label;
}

#session-label {
  display: inline-block;
  grid-area: session-label;
}

#break-buttons {
  display: block;
  grid-area: break-buttons;
}

#session-buttons {
  display: block;
  grid-area: session-buttons;
}

#session {
  display: block;
  grid-area: session;
}

/* Cosmetics */

h1 {
  font-size: 3em;
}

.section-label {
  font-size: 2em;
}

#session {
  border: 5px solid #13353a;
  border-radius: 20px;
  padding: var(--padding-base);
}
